<li onclick="@OnClick" style="background-image: url('@PizzaSpecial.ImageUrl')">
    <div class="pizza-info">
        <span class="title">@PizzaSpecial.Name</span>
        @PizzaSpecial.Description
        <span class="price">@PizzaSpecial.GetFormattedBasePrice()</span>
    </div>
</li>

@code {
    [Parameter]
   public PizzaSpecial PizzaSpecial { get; set; }

    [Parameter]
   public  EventCallback OnClick { get; set; }
}